.App {
  text-align: left;
  margin-left: 1.2em;
  max-width: 40em;
}

footer {
  position: relative;
  bottom: -5em;
  margin-bottom: 8em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
